.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 937px) {
    width: 100%;
  }

  .tile {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 937px) {
      flex-direction: column;
      margin-bottom: 20px;
      width: 80%;

      .sign-in-btn {
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
}
