.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-shape-divider-bottom-1594533341 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1594533341 svg {
  position: relative;
  display: block;
  width: calc(154% + 1.3px);
  height: 245px;
}

.custom-shape-divider-bottom-1594533341 .shape-fill {
  fill: #5575ff;
}
